.page-header {
	border-bottom: 1px solid #eee;
}
.email-login-btn {
	height: 25px;
}
.fb-login-btn {
	position: relative;
	top: 4px;
	margin-right: 3px;
}
.member-img {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}